.App-header {
    background-color: blue;
    height: 150px;
    padding: 20px;
    color: white;
  }


  footer {
    color: #aaa;
    padding: 20px 0;
    text-align: center; }
    footer a {
      color: #aaa;
      text-decoration: none; }
      footer a:hover {
        text-decoration: underline; }
  